/Hackerrank/LibraryCataloque/nbproject/private/
/Hackerrank/LibraryCataloque/build/
/ThinkJava/ArraysOfObjects/Card/nbproject/private/
/ThinkJava/ArraysOfObjects/Card/build/
/ACM_ICPC/ICPC_greetings/nbproject/private/