/Hackerrank/LibraryCataloque/nbproject/private/
/Hackerrank/LibraryCataloque/build/
/ThinkJava/ArraysOfObjects/Card/nbproject/private/
/ThinkJava/ArraysOfObjects/Card/build/
/ACM_ICPC/ICPC_greetings/nbproject/private/
/Udemy/DataStructures/nbproject/private/
/ACM_ICPC/AcmPalindrome/nbproject/private/
/Hackerrank/ArrayPractice/nbproject/private/
/ACM_ICPC/CatchThePlaneACMICPC/nbproject/private/
/Hackerrank/ExeptionsPractice/nbproject/private/
/Hackerrank/HotChocloate/nbproject/private/
/Udemy/MyProject/nbproject/private/
/Hackerrank/Palindrome/nbproject/private/
/Hackerrank/Palindromee/nbproject/private/
/Hackerrank/PositiveNumberException/nbproject/private/
/Hackerrank/Person/nbproject/private/
/Hackerrank/Queuey/nbproject/private/
/Hackerrank/StarWarsIntefacePractice/nbproject/private/
/Trials/Trials/nbproject/private/
/Hackerrank/Person/build/
/Hackerrank/ArrayPractice/build/
/Hackerrank/GenericsPractice/nbproject/private/
/Hackerrank/GenericsPractice/build/
/Hackerrank/Queuey/build/
/Hackerrank/BinarySearchTree/nbproject/private/
/Hackerrank/TicTacToeApplication/nbproject/private/
/Hackerrank/TicTacToeApplication/build/